/* Write your CSS here */
/* Write your CSS here */
.main_container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  padding: 25px;
}
.main_heading {
  font-family: 'Lobster';
  font-size: 35px;
  color: #000000;
  font-weight: 700;
}
.list_container {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
}
.list_container_2 {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
