/* Write your CSS here */
/* Write your CSS here */
.mylist {
  margin: 0px 10px;
}
.mybutton {
  background-color: transparent;
  color: #000000;
  font-size: 18px;
  height: 39px;
  width: 100px;
  border-radius: 16px;
  text-align: center;
  border: 0px none;
  cursor: pointer;
}
.activemy {
  border: 1px solid #2aa8f1fd;
  color: #2aa8f1fd;
}
